<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        
        <div class="herondaBike"><i class="fa-solid fa-copyright"></i>Herohonda Bike Limited.</div>
        <div class="f-info-links">
            <a href="/privacy" class="privacy">Privacy Policy</a>
            <a href="/terms" class="terms">Terms & Conditions</a>
        </div>
    </div>
</footer>