h1{ /* this is selector that we use to select EVERY OTHER h1 Tag*/
    color:red;
    /* property: value */
}

h1:hover{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    line-height: 2px;
    letter-spacing: 2px;
    font-size: xx-large;
}

h2{
    text-align: right;
    border: solid;
    width: 50%;
    text-decoration: teal double underline;
    font-family: Arial, Helvetica, sans-serif;
    /* I need to Understand and play around this things */
}

